/* @media(max-width: 500px){
   
    .navbar a{
        display: none;
    }

    .miclase{
        display: block;

        background-color: rgb(213, 33, 58);
        border-radius: 100%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */

@media (max-width: 320px) {
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
  .navbar a {
    display: none;
  }
  .miclase {
    display: block;
  }

  #saludo {
    width: 30%;
  }

  .logo_UTN {
    display: none;
  }
  .perfil {
    display: none;
  }

  .bienvenida {
    width: 80vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

  .decoracion_hero {
    display: none;
  }
}

@media (max-width: 1024px) {
  .perfil {
    width: 70%;
  }

  .decoracion {
    top: 70%;
  }
}

@media (max-width: 1280px) {
  .perfil {
    width: 40vh;
  }

  .decoracion {
    top: 70%;
  }
}

@media (max-width: 1440px) {
  .perfil {
    width: 40vh;
  }
}

@media (max-width: 1920px) {
}
