/* propiedades generales  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-family: "Playfair Display", serif;
  font-size: small;
  background-color: rgb(25, 20, 42);
  font-size: 20px;
}

p {
  /* fon */
}

button {
  cursor: pointer;
}

header,
.hero,
.about,
.portfolio,
.saludo {
  background-color: rgb(25, 20, 42);
  padding: 0 10%;
}

.info,
.skills,
.contact {
  background-color: rgb(42, 35, 68);
  padding: 0 10%;
}

h1,
h3,
p {
  color: white;
}
/* seccion de header: menu de navegacion y logo */
header {
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 8vh;
}

.navbar a {
  margin: 1vw;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: medium;
}

.btn_nav {
  background-color: rgb(25, 20, 42);
  border: 0;
  color: white;
  border-radius: 5px;
  height: 50px;
  transition: 0.5s;
}
.btn_nav:hover {
  background-color: rgb(213, 33, 58);
  cursor: pointer;
}

.miclase {
  color: white;
  font-size: 30px;
  display: none;
}

/* seccion de hero: presentacion y perfil */

.hero {
  /* height: 80vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-direction: row; */
  align-items: center;
}
.perfil {
  /* height: 600px; */
  min-width: 400px;
  width: 580px;
}

#presentacion_personal {
  width: 70%;
}

.bienvenida {
  height: 50%;
  width: 50%;
}

#saludo {
  color: white;
  background-color: rgb(80, 25, 46);
  height: 8%;
  width: 20%;
  border-radius: 5px;
  padding: 5px;
  top: 50%;
  text-align: center;
  transition: 0.5s;
}

#saludo:hover {
  background-color: rgb(213, 33, 58);
}

.decoracion_hero {
  width: 200px;
  position: absolute;
  right: 0.1vw;
}

/* seccion de informacion */

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* height: 30vh; */
  width: 100;
  /* padding-top: 2%;
  padding-bottom: 2%; */
  padding: 2% 0% 2% 0%;
}
.container,
.content {
  height: 20vh;
  transition: 0.5s;
}

.container {
  position: relative;
}

.content {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px;
  border-style: dashed;
  border-color: RGB(213, 33, 58);
  border-radius: 25% 25% 0% 0% / 0% 25% 25% 25%;
  height: 150px;
  width: 170px;
  font-size: medium;
  transition: 0.5s;
}
.content:hover {
  border-style: solid;
}

.icon {
  height: 40px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  left: 20px;
}

.decoracion {
  position: absolute;
  left: -3vw;
  top: 80%;
  width: 10%;
}

/* seccion About Me */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10vh 0;
  background-image: url(../img/about_fondo.png);
}
.logo_UTN {
  height: 200px;
  border-radius: 50px;
}

.about_contenido {
  width: 50%;
  border-radius: 15px;
  /* background: rgb(115, 8, 129); */

  /* height: 30vh; */
  background: linear-gradient(
    174deg,
    rgba(115, 8, 129, 0.536647935541404) 0%,
    rgba(29, 23, 47, 1) 48%,
    rgba(115, 8, 129, 0.5142389719559699) 100%
  );
  padding: 5vh;
  transition: background 1s;
}
/* .about_contenido:hover{

  
} */

.decoracion_about {
  position: absolute;
  right: 0.1vw;
  top: 110%;
  width: 10%;
}

/* Seccion Skills */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.lenguajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

/* seccion de portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.titulo_port {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 8vh;
  padding-bottom: 2vh;
}

.descripcion {
  width: 50%;
}

.btn_portf {
  background-color: rgb(29, 23, 47);
  border: 0;
  color: white;
  border-radius: 5px;
  height: 45px;
  width: 170px;
}

.btn_portf:hover {
  background-color: rgb(213, 33, 58);
  transition: 0.5s;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3% 3%;
  grid-template-areas: ". . .";
}
.post {
  height: 100%;
  width: 100%;
}

.btn_portf_todos {
  background-color: rgb(29, 23, 47);
  border: 0;
  color: white;
  border-radius: 5px;
  height: 50px;
  background-color: rgb(213, 33, 58);
  width: 100px;
  margin: 5% 45% 5%;
}

/* seccion experiencia */
.exterience {
  height: 20vh;
}
/* Seccion contacto */

.contact {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact_info {
  width: 40%;
}
.logo_info {
  height: 4vh;
  margin-right: 20px;
}

.info_titulo {
  color: rgb(113, 111, 122);
  margin: 0;
}

.info_titulo:hover {
  color: white;
}
.info_real {
  font-size: medium;
  margin: 0;
}

.tel {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 5vh;
}

.mensaje {
  width: 50%;
}

form {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50% 50% 50%;
  gap: 3% 3%;
  grid-template-areas:
    ". ."
    ". ."
    "mensaje mensaje"
    "mensaje mensaje";
}
input {
  border-radius: 5px;
  height: 50px;
  background: rgb(255 122 127 / 0%);
  border-color: rgba(113, 111, 122);
  border-width: 1px;
  border-style: solid;
  padding-left: 5%;
  font-family: sans-serif;
  outline: none;
  color: white;
}

#mensaje_largo {
  grid-area: mensaje;
}

.btn_mensaje {
  margin-top: 80px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.saludo {
  border-style: dashed;
  border-width: 1px;
  border-color: white;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  padding: 0;
  margin: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.saludo_final {
  padding-bottom: 30px;
}
#mail {
  text-decoration: none;
  color: white;
}
